<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/CSS/create_user.css}">
</head>
<body>
    <h2> Login page</h2>

    <form th:action="@{/login}" method = "post" th:object="${user}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <button type="submit"> Login</button>
        <p th:if="${error}" style="color:red">Error Wrong Username or Password.</p>
    </form>
</body>
</html>