<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WishList Site</title>
    <link rel="stylesheet" th:href="@{/CSS/personalWishListSite.css}">
</head>
<body>

<header>
    <h1>My Wishlists </h1>

    <h3>Here is an overview of your different wishlists</h3>
</header>

<ul>
    <li th:each="wishlist : ${wishlists}">
        <a th:href = "@{'/' + ${wishlist.id}}" th:text = "${wishlist.listName}"></a>

        <form th:action="@{'/' + ${wishlist.listName} + '/delete'}" method="POST">
            <input type="submit" value="Delete wishlist">
        </form>

        <form th:action="@{'/' + ${wishlist.listName} + '/update'}" method="POST">
            <input type="submit" value="Update wishlist">
        </form>

    </li>

</ul>

</body>
</html>