<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Wishlist</title>
</head>
<body>
<h1>Wishlist</h1>

<div th:if="${message}">
  <p th:text="${message}"></p>
</div>

<table>
  <tr>
    <th>Present Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Link</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr th:each="present : ${presents}">
    <td th:text="${present.name}">Present Name</td>
    <td th:text="${present.brand}">Brand</td>
    <td th:text="${present.price}">Price</td>
    <td><a th:href="${present.link}" th:text="${present.link}">Link</a></td>
    <td th:text="${present.status}">Status</td>
    <td>
      <div th:if="${present.status == 'Reserved'}">
        <form th:action="@{/reserve}" method="post">
          <input type="hidden" name="presentId" th:value="${present.id}">
          <button type="submit">Reserve</button>
        </form>
      </div>
      <div th:if="${present.status == 'Avalible'}">
        <form th:action="@{/cancel-reservation}" method="post">
          <input type="hidden" name="presentId" th:value="${present.id}">
          <button type="submit">Cancel Reservation</button>
        </form>
      </div>
    </td>
  </tr>
</table>


</body>
</html>