<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WishList</title>
</head>
<body>

<header>
    <h1 th:text="${wishlist.listName}"></h1>
</header>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Link </th>
        <th> Price </th>
        <th> Delete </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="wish : ${presents}" >

        <td>
            <a th:text="${wish.name}"></a>
        </td>

        <td>
            <a th:text="${wish.link}"></a>
        </td>

        <td>
            <a th:text="${wish.price}"></a>
        </td>

        <td>
        <form th:action="@{'/' + ${wishlist.id} + '/delete'}" method="POST">
            <input type="submit" value="Delete wishlist">
        </form>
        </td>

    </tr>
    </tbody>
</table>

<!-- Tilbage til listen over attraktioner -->
<a href="/wishListSite">Back to the overview</a>

</body>
</html>